* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #999;
  &.noscroll {
    position: static !important;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    overflow-y: hidden !important;
    margin: 0;
    padding: 0;
  }
  &.small_size {
    font-size: 0.938em;
  }
  &.large_size {
    font-size: 1.125em;
  }
}

// 最外圍預設為100%
.wrapper {
  // width: 100%;
  width: 1200px;
  margin: 0px auto;
  position: relative;
  background: #fff;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
  @include screen('mobile') {
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  padding: 0;
  margin: 0 auto;
  max-width: $container-max; //請看_variable.scss
}

.main {
  position: relative;
  margin: 0 auto;
  padding-bottom: 2em;
  @include screen('mobile') {
    // padding-top: 60px;
  }
  // 可先設定一個中央區塊最大寬，限制accesskey對齊
  h2 {
    line-height: 1.25em;
  }
}

.inner_img {
  overflow: hidden;
  line-height: 0;
  position: relative;
  &:before {
    content: "";
    width: 220px;
    height: 220px;
    display: block;
    background: $primaryColor;
    position: absolute;
    right: -100px;
    bottom: 0;
    border-radius: 50%;
    z-index: 10;
    @include screen('mobile') {
      display: none;
    }
  }
  &:after {
    content: "";
    width: 100px;
    height: 100px;
    display: block;
    background: $secondaryColor;
    position: absolute;
    left: -40px;
    bottom: 150px;
    border-radius: 50%;
    z-index: 10;
    @include screen('mobile') {
      display: none;
    }
  }
  img {
    position: relative;
    z-index: 9;
    border-radius: 0 20px 180px 20px;
    width: 96%;
    @include screen('mobile') {
      width: 100%;
      border-radius: 0 0 16px 16px;
    }
  }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
  >.container {
    padding-top: 2em;
    @include gutter(80px); //gutter 代表左右要留白
    display: flex;
    @include screen('mobile') {
      padding-top: 1em;
    }
  }
  .center_block {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
  }
  .left_block {
    padding-bottom: 2em;
    flex-basis: 260px;
    max-width: 260px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 40px;
    align-self: flex-start;
    @include screen('mobile') {
      float: none;
      display: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 1em;
      padding-bottom: 0;
    }
    &.hidden {
      +.center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    +.center_block {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
      width: auto;
      @include screen('mobile') {
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
}

.hidden {
  display: none;
}

.left_block {
  nav {
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    overflow: hidden;
    .left_title {
      background: $secondaryColor;
      padding: .7em 1em;
      text-align: center;
      color: #fff;
      font-size: 1.25em;
      font-weight: normal;
      letter-spacing: 1px;
      margin: 0 1rem 1rem 1rem;
      border-radius: 0 0 6px 6px;
      @include screen('mobile') {
        font-size: 1em;
        text-align: left;
        position: relative;
        &:before {
          content: "";
          width: 5px;
          height: 5px;
          display: block;
          border-right: 2px solid #fff;
          border-top: 2px solid #fff;
          transform: rotate(135deg);
          vertical-align: middle;
          position: absolute;
          top: 18px;
          right: 15px;
        }
      }
    }
    >ul {
      @include li-reset;
      border-top: 0;
      margin: 0 1rem;
      @include screen('mobile') {
        display: none;
        border: 2px solid #ccc;
      }
      >li {
        margin-bottom: 4px;
        @include screen('mobile') {
          border-bottom: 1px solid #ccc;
        }
        &:last-child {
          border-bottom: 0;
        }
        >a {
          padding: .6em 1em .6em 2em;
          display: block;
          color: #444;
          font-weight: bold;
          position: relative;
          &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 6px;
            border-color: transparent transparent transparent #444;
            display: block;
            position: absolute;
            left: 15px;
            top: 17px;
          }
          &:hover,
          &:focus {
            background: $leftmenuHover;
            box-shadow: none;
            border-radius: 6px;
            &:before {
              content: "";
              border-color: transparent transparent transparent #444;
            }
          }
          &.active {
            color: #fff;
            background: $leftmenuActive;
            border-radius: 6px;
            &:before {
              content: "";
              border-color: transparent transparent transparent #fff;
            }
            &:hover {
              color: #444;
              background: $leftmenuHover;
              &:before {
                content: "";
                border-color: transparent transparent transparent #444;
              }
            }
          }
        }
        ul {
          @include li-reset;
          font-size: 0.875em;
          background: #f5f5f5;
          margin: 4px 0 0 0;
          border-radius: 6px;
          overflow: hidden;
          li {
            border-top: 1px dotted #ccc;
            &:first-child {
              border-top: 0;
            }
            a {
              padding: .6em 1em .6em 2.1em;
              display: block;
              color: #444;
              position: relative;
              &:before {
                content: "";
                width: 5px;
                height: 5px;
                display: block;
                border-right: 2px solid #515151;
                border-top: 2px solid #515151;
                transform: rotate(45deg);
                vertical-align: middle;
                position: absolute;
                left: 13px;
                top: 17px;
              }
              &.active {
                color: #222;
                background: #ddd;
              }
              &:hover,
              &:focus {
                color: $leftmenuColor;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}

.quickLink {
  position: fixed;
  right: 0;
  top: 76px;
  z-index: 99;
  @media screen and (max-width: 660px) {
    top: auto;
    bottom: 0;
    width: 100%;
  }
  ul {
    @include li-reset;
    @media screen and (max-width: 660px) {
      display: flex;
      justify-content: space-between;
    }
    li {
      @media screen and (max-width: 660px) {
        flex: 1 1 auto;
      }
      a {
        width: 52px;
        color: #fff;
        background: $primaryColor;
        display: flex;
        align-items: center;
        writing-mode: vertical-lr;
        padding: 22px 14px;
        transition: all .5s;
        letter-spacing: 1px;
        @media screen and (max-width: 660px) {
          writing-mode: horizontal-tb;
          width: auto;
          line-height: 4rem;
          padding: 0;
          justify-content: center;
        }
        &:hover,
        &:focus {
          background: #333;
        }
      }
      &:first-child {
        a {
          background: $secondaryColor url(../images/enter/home.svg) no-repeat center 12px;
          padding: 2rem 14px 22px 14px;
          @media screen and (max-width: 660px) {
            background: $secondaryColor;
            padding: 0;
          }
          &:hover,
          &:focus {
            background: #333 url(../images/enter/home.svg) no-repeat center 12px;
          }
        }
      }
    }
  }
}

.quickLink~.main~footer {
  @media screen and (max-width: 660px) {
    margin-bottom: 2rem;
  }
}

.jxPOhn {
  bottom: 58px;
  right: -13px;
}

.dfBDQI {
  display: none;
}

@include screen('tablet') {
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
}

.shadowOut {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  @include screen('mobile') {
    padding: 1.5em 1em 1em;
  }
}